openapi: 3.1.0
info:
  title: Statorium American Football Games News API
  description: The Statorium American Football API provides NFL data including live game scores, schedules, player news, team statistics, rosters, and historical records. The API delivers unique daily news feeds linked to NFL players and teams along with game data in JSON format. Coverage includes all NFL teams and games for current and past seasons.
  version: 1.0.0
  contact:
    name: Statorium Support
    url: https://statorium.com/
  termsOfService: https://statorium.com/
servers:
- url: https://api.statorium.com/api/v1
  description: Statorium API Server
security:
- apiKey: []
tags:
- name: News
  description: Access daily news feeds for NFL players and teams.
paths:
  /nfl/news/:
    get:
      operationId: listNflNews
      summary: List NFL News
      description: Returns the latest NFL news articles and updates linked to players and teams. Includes injuries, transactions, game previews, and analysis.
      tags:
      - News
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - name: teamId
        in: query
        required: false
        schema:
          type: integer
        description: Filter news by team ID.
      - name: playerId
        in: query
        required: false
        schema:
          type: integer
        description: Filter news by player ID.
      - name: count
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
        description: Number of news items to return.
      responses:
        '200':
          description: List of NFL news articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  news:
                    type: array
                    items:
                      $ref: '#/components/schemas/NewsItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
  schemas:
    NewsItem:
      type: object
      description: An NFL news article or update.
      properties:
        id:
          type: integer
        headline:
          type: string
        body:
          type: string
        publishedAt:
          type: string
          format: date-time
        teamId:
          type: integer
        playerId:
          type: integer
        category:
          type: string
          enum:
          - injury
          - transaction
          - preview
          - recap
          - analysis
  parameters:
    ApiKeyParam:
      name: apikey
      in: query
      required: true
      schema:
        type: string
      description: Your Statorium API token.
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: apikey
      description: API token provided upon subscription purchase.
externalDocs:
  description: Statorium API Documentation
  url: https://statorium.com/stats-api-documentation
