openapi: 3.2.0
info:
  title: Statorium Leagues API
  version: 1.0.0
  contact:
    name: Statorium Support
    url: https://statorium.com/
  termsOfService: https://statorium.com/
  description: 'Operations tagged Leagues across 2 of this provider''s published API definitions: statorium-basketball-api-openapi.yml, statorium-football-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.statorium.com/api/v1
  description: Statorium API Server
security:
- apiKey: []
tags:
- name: Leagues
  description: Access basketball league listings and metadata.
paths:
  /basketball/leagues/:
    get:
      operationId: listBasketballLeagues
      summary: List Basketball Leagues
      description: Returns all basketball leagues and competitions accessible with the authenticated token.
      tags:
      - Leagues
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      responses:
        '200':
          description: List of basketball leagues
          content:
            application/json:
              schema:
                type: object
                properties:
                  leagues:
                    type: array
                    items:
                      $ref: '#/components/schemas/League'
        '401':
          $ref: '#/components/responses/Unauthorized'
    servers:
    - url: https://api.statorium.com/api/v1
      description: Statorium API Server
  /leagues/:
    get:
      operationId: listLeagues
      summary: List All Leagues
      description: Returns all leagues the authenticated account has permission to access. Each league includes an ID, name, country, and optional logo URL.
      tags:
      - Leagues
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam_2'
      responses:
        '200':
          description: List of accessible leagues
          content:
            application/json:
              schema:
                type: object
                properties:
                  leagues:
                    type: array
                    items:
                      $ref: '#/components/schemas/League_2'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
    servers:
    - url: https://api.statorium.com/api/v1
      description: Statorium API Server
  /leagues/{leagueId}/:
    get:
      operationId: getLeague
      summary: Get League by ID
      description: Retrieves detailed information about a specific league including name, country, current season, and logo URL.
      tags:
      - Leagues
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam_2'
      - name: leagueId
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the league.
      responses:
        '200':
          description: League details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/League_2'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
        '404':
          $ref: '#/components/responses/NotFound'
    servers:
    - url: https://api.statorium.com/api/v1
      description: Statorium API Server
components:
  schemas:
    League:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        country:
          type: string
        logoUrl:
          type: string
          format: uri
    League_2:
      type: object
      description: A football league or competition.
      properties:
        id:
          type: integer
          description: Unique identifier for the league.
        name:
          type: string
          description: Name of the league.
        country:
          type: string
          description: Country the league is associated with.
        logoUrl:
          type: string
          format: uri
          description: URL to the league logo image.
        currentSeasonId:
          type: integer
          description: ID of the currently active season.
  parameters:
    ApiKeyParam:
      name: apikey
      in: query
      required: true
      schema:
        type: string
      description: Your Statorium API token.
    ApiKeyParam_2:
      name: apikey
      in: query
      required: true
      schema:
        type: string
      description: Your Statorium API token for authentication.
  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: Error message indicating the resource was not found.
    Unauthorized_2:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: Error message describing the authentication failure.
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: apikey
      description: API token provided upon subscription purchase.
x-refined-from:
- statorium-basketball-api-openapi.yml
- statorium-football-api-openapi.yml
